{%extends "layout.html"%}
{%block content%}
<div class = "home">
  <h1>My homepage</h1>
  <p>Here I post some of my past and current coding projects.<br><br>
    <ol>
    <li>Interactive Python Website Blocker.</li>
    <ul>
    <li>readme: <a href="/blocker_readme" target="blank">readme.txt</a><br></li>
    <li>saved: <a href="/blocker_saved" target="blank">saved.txt</a><br></li>
    <li>For Mac and Linux: <a href="/blocker_linux" target="blank">WebsiteBlocker.py</a><br></li>
    <li>For Windows: <a href="/blocker_windows" target="blank">WebsiteBlocker.pyw</a><br></li>
    </ul>
    <li><a href="/plot/" target="blank">Financial analysis visualization with Bokeh.</a><br></li>
    <li>Desktop Employee Database App.</li>
    <ul>
    <li>readme: <a href="/DB_App_readme" target="blank">readme.txt</a><br></li>
    <li><a href="/Desktop_DB_App" target="blank">Desktop_DB_App</a><br></li>
    </ul>
    </ol>
  </p>
</div>
{%endblock%}


